.layout {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 100vh;

}

.layout__header,
.layout__footer {
  flex-shrink: 0;
  height: 80px;

}

.layout__content {
  flex-grow: 1;
}
