.catalog-filter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: var(--border-radius);
  height: 96px;
  background: var(--c-light);
}

.catalog-filter__category-button.is-active {
  background: var(--c-accent);
}